<a href="https://colab.research.google.com/github/keti-0007/--Sharp-23.02.23/blob/main/Seminar9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1

In [ ]:
import pandas as pd


df = pd.read_csv('sample_data/california_housing_test.csv')
df.head() # вывод первых 5-ти строк

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df.tail(5) # вывод последних 5-ти строк

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.columns # вывод всех столбцов

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
df.shape # размер таблицы

(3000, 9)

In [ ]:
df.dtypes # возврат типа данных у каждого столбца

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.isnull().sum() # возврат кол-во null-значений в каждом столбце

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

## Задание 2

In [ ]:
# Проверить есть ли в файле пустые значения
df.isnull().sum()

In [ ]:
# error df[0]
df.iloc[0] # вывод строки по номеру(нумерация с 0)
df['housing_median_age']
df[['households', 'housing_median_age']]

In [ ]:
# Вариант 1
df.loc[df['median_income'] < 2, 'housing_median_age']

In [ ]:
# Вариант 2
df[df['median_income'] < 2]['housing_median_age']

In [ ]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]
# & - и(and)
# | - или(or)

In [ ]:
df[['longitude', 'latitude']]

In [ ]:
print(df['median_house_value'].min(), df['median_house_value'].max())
# min(), max(), mean() ...

22500.0 500001.0

In [ ]:
df['median_house_value'].describe()

count      3000.00000
mean     205846.27500
std      113119.68747
min       22500.00000
25%      121200.00000
50%      177650.00000
75%      263975.00000
max      500001.00000
Name: median_house_value, dtype: float64

In [ ]:
df[df['median_income'] == 3.125]['median_house_value'].max()

233300.0

In [ ]:
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()
df.loc[df['median_house_value'] == df['median_house_value'].min(), 'population'].max()

1230.0